/*Fuentes personalizadas*/

@font-face{
font-family: macabre;
src: url(fuentes/macabre.ttf) format('truetype')
}

@font-face{
font-family: things;
src: url(fuentes/things.ttf) format('truetype')
}

@font-face{
font-family: achafont;
src: url(fuentes/achafont.ttf) format('truetype')
}

@font-face{
font-family: baroque;
src: url(fuentes/baroque.ttf) format('truetype')
}

@font-face{
font-family: acadian;
src: url(fuentes/acadian.ttf) format('truetype')
}

@font-face{
font-family: addams;
src: url(fuentes/addams.ttf) format('truetype')
}

@font-face{
font-family: adine;
src: url(fuentes/adine.ttf) format('truetype')
}

@font-face{
font-family: apology;
src: url(fuentes/apology.ttf) format('truetype')
}

@font-face{
font-family: charming;
src: url(fuentes/charming.ttf) format('truetype')
}

/*Estilos básicos*/

h1,h2,h3,h4{
font-family: macabre;
}

h5{font-family:macabre;
color: rgba(255,255,255,1);
font-size:20px;
top:-20%;
margin-top:10px;
letter-spacing: 9px;
display:center;
text-shadow: 2px 2px 5px rgba(255,0,0,1);
margin:0px;
margin-top:-10px;
padding:0px;

}

h6{font-family:achafont;}

h1{
position: absolute;
display:table;
margin:auto;
text-align:center;
width:100%;
color: rgb(0, 0, 0);
font-size:50px;
letter-spacing: 50px;
text-shadow: 
0px 0px 15px rgba(255,255,255,1),
0px 0px 15px rgba(255,255,255,1),
0px 0px 15px rgba(255,255,255,1);
margin-top:-110px;

box-shadow: 
3px 3px 80px rgb(255, 255, 255);

}

h2{

color: rgba(110,0,0,1);
font-size:30px;
top:-20%;
margin-top:10px;
letter-spacing: 2px;
display:center;
text-shadow: 4px 4px 5px rgba(255,255,255,1);
margin:50px;
margin-top:-50px;
padding:0px;

}

h3{

margin:0px;
padding:0px;
font-size:36px;

text-shadow: 
0px 0px 8px rgba(255,255,255,1),
0px 0px 8px rgba(255,255,255,1),
0px 0px 8px rgba(255,255,255,1);

}

h4{
margin:0px;
padding:0px;
font-size:24px;

text-shadow: 
0px 0px 8px rgba(255,255,255,1),
0px 0px 8px rgba(255,255,255,1),
0px 0px 8px rgba(255,255,255,1);

}

h6{
font-family: things;
font-size: 18px;
text-align:center;
color:white;
text-shadow: 1px 1px 4px rgba(255,255,255,0.5);
}

p{
font-family: achafont;
font-size: 38px;
text-align:justify;
color:white;
text-shadow: 2px 2px 5px rgba(255,255,255,1);

}

.pa{
font-size: 6em;
color:black;
text-shadow: 
0px 0px 8px rgba(255,255,255,1),
0px 0px 8px rgba(255,255,255,1),
0px 0px 8px rgba(255,255,255,1);
margin-top: -10px;
}

.ps{
font-family: acadian;
font-size: 45px;
text-align:justify;
color:white;
text-shadow: 2px 2px 5px rgba(255,255,255,1);
padding: 0px 10px 0px 10px;

}


/*Menu de navegacion*/

/* nav{

} */

nav ul{
font-size: 26px;
color:white;
font-family:things;
position:relative;
display:inline;
}

nav ul li{
display:inline;
text-align:center;

}

nav ul li a{
display: inline-block;
background: rgba(74,0,0,1);
color: white;
text-decoration: none;
border: 1px solid white;
border-radius: 0px 10px 0px 10px;
-moz-border-radius: 0px 10px 0px 10px;
-webkit-border-radius: 0px 10px 0px 10px;
-o-border-radius: 0px 10px 0px 10px;
box-shadow: 
2px 2px 5px white,
2px 2px 10px white inset;

/* ancho de los iconos */
width:17%;
/* espacio entre iconos */
margin: 5px;
margin-right: 50px; 

margin-top: 10px;

background:url('../img/rojo.jpg');

transition: opacity 1s, box-shadow 1s, transform 1s, background 1s;
transform:scale(1,1);


}

nav ul li a:hover{
background:rgba(255,255,255,0.8);
color:black;
box-shadow:0px 0px 25px white;
-webkit-box-shadow:0px 0px 25px white;

transform:scale(1.1,1.1);
-webkit-transform:scale(1.1,1.1);


/* transform:translate(-140px, 0px);
-webkit-transform:translate(-140px, 0px); */

}

/*Círculos y figuras internas */
canvas{
border:0px solid white;

}

/*Maquetacion principal*/

body{
text-align: center;
margin:0px;
background: grey;
background:url('../img/negro.png'),url('../img/puas.jpg');
}

#principal{
text-align: left;
margin:auto;
width:90%;
height:100%;
position: relative;

}

header{
display:table;
margin: auto;
text-align: left;
width:100%;
height:150px;
overflow: hidden;

border: 2px solid white;

border-radius: 5px 35px 0px 0px;
-moz-border-radius: 5px 35px 0px 0px;
-webkit-border-radius: 5px 35px 0px 0px;
-o-border-radius: 5px 35px 0px 0px;

background-image: url("../img/puas.jpg");

}

#logo{
width: 100px;
height: 100px;
position:relative;
}

footer{
display:table;
margin:auto;
text-align:center;
width:100%;
background:rgba(0,0,0,0.5);
border: 2px solid white;
border-radius: 0px 0px 5px 35px;
-moz-border-radius: 0px 0px 5px 35px;
-webkit-border-radius: 0px 0px 5px 35px;
-o-border-radius: 0px 0px 5px 35px;

box-shadow: 0px 0px 10px white;
-moz-box-shadow: 0px 0px 10px white;
-webkit-box-shadow: 0px 0px 10px white;
-o-box-shadow: 0px 0px 10px white;

}

/*contenido */

#contenido{
width:100%;
border: 2px solid white;

box-shadow: 0px 0px 10px white;
-moz-box-shadow: 0px 0px 10px white;
-webkit-box-shadow: 0px 0px 10px white;
-o-box-shadow: 0px 0px 10px white;
background: rgba(255,255,255,0.1);

}

article{
width:78%;
background:url('../img/rojo.jpg');
background-size: 100%;
margin:auto;
margin-top: 15px;
margin-bottom: 15px;
height:100%;
display:table;
color:rgb(0, 0, 0);
border: 2px solid white;
border-radius: 0px 25px 0px 25px;
box-shadow: 
3px 3px 80px rgb(255, 255, 255);
padding: 10px 10px 10px 150px;
opacity:0.9;
transition: opacity 1s, box-shadow 1s, transform 1s, background 1s;
transform:scale(1,1);

}

article:hover{
background-image:url('../img/drago.jpg');
background-size: 130%;
transform:scale(1.1,1.1);
-webkit-transform:scale(1.1,1.1);
box-shadow: 0px 0px 80px rgb(82, 0, 0);
-webkit-box-shadow: 0px 0px 80px rgb(82, 0, 0);

}

time{
font-family:achafont;
font-size: 35px;
color:rgb(255, 255, 255);

text-shadow: 
0px 0px 8px rgba(255,255,255),
0px 0px 8px rgba(255,255,255),
0px 0px 8px rgba(255,255,255);

float:right;
}

#sobremi{
padding: 10px 0px 0px 0px;
width:100%;
height:100px;
color:white;
display:table;
background:rgba(0,0,0,0.8);
/* font-size: 10px; */
text-decoration:none;
text-align:justify;
overflow:hidden;
transition: transform 1s;
-webkit-transition: -webkit-transform 1s;
transform:scale(1,1);
-webkit-transform:scale(1,1);
}

#sobremi:hover{
transform:scale(1.1,1.1);
-webkit-transform:scale(1.1,1.1);
}

#sobremi a{
color:white;
text-decoration:none;
}

#mifoto{
padding:5px;
width:100px;
height:100px;
font-family:achafont;
font-size:20px;
color:white;
text-align:left;

background:url('../photo/euterpelogo.jpg');
background-size: 100% 100%;
background-repeat: no-repeat;
display: box;

border: 1px solid white;
border-radius: 0px 10px 0px 10px;
box-shadow: 0px 0px 10px white;
-webkit-border-radius: 0px 10px 0px 10px;
-webkit-box-shadow: 0px 0px 10px white;
float: left;
margin: 10px;
animation:parpadeo 5s;
-webkit-animation:parpadeo 5s;
animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;

}

@keyframes parpadeo{

0% {box-shadow: 0px 0px 10px white;}
50% {box-shadow: 0px 0px 50px white;}
100% {box-shadow: 0px 0px 10px white;}

}

@-webkit-keyframes parpadeo{

0% {-webkit-box-shadow: 0px 0px 10px white;}
50% {-webkit-box-shadow: 0px 0px 50px white;}
100% {-webkit-box-shadow: 0px 0px 10px white;}

}

#logoeuterpe{
width:100px;
height:100px;
font-family:achafont;
font-size:20px;
color:white;
text-align:left;

background:url('../photo/euterpe.jpg');
background-size: 100% 100%;
background-repeat: no-repeat;
display: box;

border: 1px solid white;
border-radius: 0px 10px 0px 10px;
box-shadow: 0px 0px 10px white;
-webkit-border-radius: 0px 10px 0px 10px;
-webkit-box-shadow: 0px 0px 10px white;
float: left;
margin: 10px;

position:absolute;
transform:translate(-140px, 0px);
-webkit-transform:translate(-140px, 0px);

}

#logocancion{
width:100px;
height:100px;
font-family:achafont;
font-size:20px;
color:white;
text-align:left;

background:url('../photo/playlist.jpg');
background-size: 100% 100%;
background-repeat: no-repeat;
display: box;

border: 1px solid white;
border-radius: 0px 10px 0px 10px;
box-shadow: 0px 0px 10px white;
-webkit-border-radius: 0px 10px 0px 10px;
-webkit-box-shadow: 0px 0px 10px white;
float: left;
margin: 10px;
position:absolute;
transform:translate(-140px, 0px);
-webkit-transform:translate(-140px, 0px);
}


#mifotoarticulo{
width:100px;
height:100px;
font-family:achafont;
font-size:20px;
color:white;
text-align:left;

background:url('../photo/euterpelogo.jpg');
background-size: 100% 100%;
background-repeat: no-repeat;
display: box;

border: 1px solid white;
border-radius: 0px 10px 0px 10px;
box-shadow: 0px 0px 10px white;
-webkit-border-radius: 0px 10px 0px 10px;
-webkit-box-shadow: 0px 0px 10px white;
float: left;
margin: 10px;
position:absolute;
transform:translate(-140px, 0px);
-webkit-transform:translate(-140px, 0px);
}

#euterpelogo{
width:100px;
height:100px;
font-family:achafont;
font-size: 20px;
color:white;
text-align:left;

background:url('../photo/euterpelogo.jpg');
background-size: 100% 100%;
background-repeat: no-repeat;
display: box;

border: 1px solid white;
border-radius: 0px 10px 0px 10px;
box-shadow: 0px 0px 10px white;
-webkit-border-radius: 0px 10px 0px 10px;
-webkit-box-shadow: 0px 0px 10px white;
float:left;
margin:10px;
position:absolute;
transform:translate(-140px, 0px);
-webkit-transform:translate(-140px, 0px);
}

/*vinculo musica*/

#logotrailer{  
width:100px;
height:100px;
font-family:ubuntuBold;
font-size: 20px;
color:white;
text-align:left;

background:url('../photo/wolflogo.jpg');
background-size: 100% 100%;
background-repeat: no-repeat;
display: box;

border: 1px solid white;
border-radius: 0px 10px 0px 10px;
box-shadow: 0px 0px 10px white;
-webkit-border-radius: 0px 10px 0px 10px;
-webkit-box-shadow: 0px 0px 10px white;
float:left;
margin:10px;
position:absolute;
transform:translate(-140px, 0px);
-webkit-transform:translate(-140px, 0px);
}

#euterpe{
width:100px;
height:100px;
font-family:ubuntuBold;
font-size: 20px;
color:white;
text-align:left;

background:url('../photo/euterpelogo.jpg');
background-size: 100% 100%;
background-repeat: no-repeat;
display: box;

border: 1px solid white;
border-radius: 0px 10px 0px 10px;
box-shadow: 0px 0px 10px white;
-webkit-border-radius: 0px 10px 0px 10px;
-webkit-box-shadow: 0px 0px 10px white;
float:left;
margin:10px;
position:absolute;
transform:translate(-140px, 0px);
-webkit-transform:translate(-140px, 0px);


}

#playlistlogo{
width:100px;
height:100px;
font-family:ubuntuBold;
font-size: 20px;
color:white;
text-align:left;
background:url('../photo/playlistlogo.jpg');
background-size: 100% 100%;
background-repeat: no-repeat;
display: box;

border: 1px solid white;
border-radius: 0px 10px 0px 10px;
box-shadow: 0px 0px 10px white;
-webkit-border-radius: 0px 10px 0px 10px;
-webkit-box-shadow: 0px 0px 10px white;
float:left;
margin:10px;
position:absolute;
transform:translate(-140px, 0px);
-webkit-transform:translate(-140px, 0px);
}

/* .playlist{
  margin-top: -200px;
} */

[required]{
border-color:green;
box-shadow: 0px 0px 5px green;
-webkit-box-shadow: 0px 0px 5px green;
}

:invalid{
border-color:red;
box-shadow: 0px 0px 50px red;
-webkit-box-shadow: 0px 0px 50px red;
}

form table{
width:100%;
border: 0px solid white;
border-radius: 0px 15px 0px 15px;
-webkit-border-radius: 0px 15px 0px 15px;
box-shadow: 0px 0px 10px 4px white;
-webkit-box-shadow: 0px 0px 10px 4px white;
padding:60px;
margin:auto;
background:url(../img/dragon.jpg);

}

form{
font-family:macabre;
color:black;
text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
border: 1px solid white;
border-radius: 0px 15px 0px 15px;
-webkit-border-radius: 0px 15px 0px 15px;
box-shadow: 10px 10px 25px rgba(0,0,0,0.5);
-webkit-box-shadow: 10px 10px 25px rgba(0,0,0,0.5);
background: rgba(0,0,0,0.1);
margin:auto;
width:95%;
padding:10px;

}

.pform{
font-family:macabre;
font-size:30px;
color:black;
text-align:right;
margin:auto;
padding:0px;

text-shadow: 
3px 3px 5px white,
3px 3px 5px white,
3px 3px 5px white;

}

form input, form textarea{
color: rgb(0, 0, 0); 
text-shadow: 
0px 3px 15px rgb(252, 252, 252), 
0px 3px 15px rgb(255, 255, 255),
0px 3px 15px rgb(255, 255, 255); 

font-family:addams;
font-size:30px;
background:rgba(255,255,255,0.5);
border: 1px dotted white;
box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
border-radius: 0px 5px 0px 5px;
-webkit-border-radius: 0px 5px 0px 5px;
}

#php{
background:url(../img/dragon.jpg);
font-family:baroque;
text-shadow:3px 3px 15px white;
}

#massobremi{
font-family:macabre;
font-size: 14px;
margin:auto;
width:100%;

}

#massobremi  ul{
border: 2px solid white;
background:url('../img/rojo.jpg');
background-size: 100%;
margin: 15px;
box-shadow: 10px 10px 25px black;
-webkit-box-shadow: 10px 10px 25px rgba(0,0,0,0.5);
list-style-type: none; 
text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
border-radius: 0px 25px 0px 25px;
-webkit-border-radius: 0px 25px 0px 25px;

box-shadow: 
3px 3px 60px rgb(255, 255, 255);

}

#tituloseccion {
color: black;
font-size: 60px;
font-family:macabre;
text-shadow: 
3px 3px 15px rgba(255,255,255,1),
3px 3px 15px rgba(255,255,255,1),
3px 3px 15px rgba(255,255,255,1);

letter-spacing: 5px;

}

#seccion{
font-family:baroque;
font-size: 35px;
margin:auto;
width:90%;
color:rgba(255,255,255,0.8);

}

#secciones {
color: black;
font-size: 45px;
font-family:macabre;
text-shadow: 
3px 3px 15px rgba(255,255,255,1),
3px 3px 15px rgba(255,255,255,1),
3px 3px 15px rgba(255,255,255,1);

}

.cuenta{
    margin-bottom: 20px; 
}

.contador{
    text-shadow: 
    3px 3px 15px rgba(255,255,255,1),
    3px 3px 15px rgba(255,255,255,1),
    3px 3px 15px rgba(255,255,255,1);
    text-align: center;
    font-size: 2em;
}

iframe{
  margin-top: -70px;
  box-shadow: 
	0px 0px 30px #480606 inset,
	0px 0px 10px rgb(255, 255, 255),
	0px 0px 10px rgb(255, 255, 255),
	0px 0px 5px rgb(255, 255, 255),
	0px 0px 80px rgb(255, 255, 255);
  border-radius: 0px 15px;

  border: 3px solid white;

  margin-right: 100px;
  

}

.titles{
  font-size: 3em;
}

.subtitles{
  font-size: 2.5em;
}

.vcard{
  font-size: 1.5em;
}

.titulo{
  font-size: 4.2em;
  box-shadow: 
  0px 3px 43px white inset,
  0px 3px 43px white inset,
  0px 3px 43px white inset;

}

hr{
  border: dashed 2px rgba(0, 0, 0);
}

.hr2{
  border: dashed 2px rgb(101, 0, 0);
}

.es{
    font-size: 1.4em;
    margin-top: -5px;
    margin-left: 615px;

    -webkit-transform: rotate(0deg) rotatey(150deg);
    -moz-transform: rotate(0deg) rotatey(150deg);
    -o-transform: rotate(0deg) rotatey(150deg);
    transform: rotate(0deg) rotatey(150deg);
    /* filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); */
}

.inline-block{
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline; 
}

.ocultar{
  opacity: 0;
}

.reproductor{
  margin-left: -140px;
  margin-top: -80px;
  margin-bottom: 30px;

}

/*class track de audio con margen */
.audio{
  margin-top: -50px;
  padding-bottom: -100px;

}

/* audio general */
audio {
  margin: 0;
  padding: 0;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 30px;
  font-size: 100%;
  /* font: inherit; */
  height: 66px;
  width: 44%;
}

/* alto y ancho del contenedor */
audio::-webkit-media-controls-enclosure {
  max-width: none;
  max-height: none;
}

audio::-webkit-media-controls-play-button {
  /* -webkit-appearance: none; */
  background-color: #ffffff;
  border-radius: 0px 10px;
  box-shadow: 
  0px 0px 15px rgb(0, 0, 0) inset;
}

audio::-webkit-media-controls-mute-button {
  /* -webkit-appearance: none; */
  background-color: #ffffff;
  border-radius: 0px 10px;
  box-shadow: 
  0px 0px 15px rgb(0, 0, 0) inset
}

audio::-webkit-media-controls-panel {
  /* box-shadow: 
	0px 0px 30px #cbcbcb inset; */
  background-image: url(../img/puas.jpg);
}

/* letra y tiempo del audio */
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  color: #000000;
  font-size: 30px;
  font-family: macabre;
  padding-top: 30px;
  padding-left: 10px;
  text-shadow: 
  0px 0px 5px white,
  0px 0px 5px white,
  0px 0px 5px white,
  0px 0px 5px white;
}

/* video general */
video {
  margin-top: -70px;
  box-shadow: 
	0px 0px 10px rgb(255, 255, 255),
	0px 0px 10px rgb(255, 255, 255),
	0px 0px 5px rgb(255, 255, 255),
	0px 0px 80px rgb(255, 255, 255);
  border-radius: 0px 15px;
  border: 3px solid white;
  background-image: url(../img/puas.jpg);

}

video::-webkit-media-controls-play-button {
  background-color: #8c8c8c;
  height: 90%;
  border-radius: 0px 10px;
  box-shadow: 
  0px 0px 10px #000000 inset,
  0px 0px 10px #000000 inset,
  0px 0px 10px #000000 inset;
  margin-left: auto;
}

video::-webkit-media-controls-fullscreen-button{
  background-color: #8c8c8c;
  border-radius: 0px 10px;
  height: 90%;
  box-shadow: 
  0px 0px 10px #000000 inset,
  0px 0px 10px #000000 inset,
  0px 0px 10px #000000 inset;
  margin: auto;
}

video::-webkit-media-controls-mute-button { 
  background-color: #8c8c8c;
  height: 90%;
  border-radius: 0px 10px;
  box-shadow: 
  0px 0px 10px #000000 inset,
  0px 0px 10px #000000 inset,
  0px 0px 10px #000000 inset;
  margin: auto;
}

video::-webkit-media-controls-toggle-closed-captions-button{
  background-color: #ff0000;
}

/*tiempo del audio */
video::-webkit-media-controls-current-time-display {
  color: #000000;
  font-size: 30px;
  font-family: macabre;
  margin: -20px;
  padding-left: 25px;
  text-shadow: 
  0px 0px 5px white,
  0px 0px 5px white,
  0px 0px 5px white,
  0px 0px 5px white;
}

video::-webkit-media-controls-time-remaining-display {
  color: #000000;
  font-size: 25px;
  font-family: macabre;
  margin: -10px;
  margin-bottom: -18px;
  padding-left: 35px;
  text-shadow: 
  0px 0px 5px white,
  0px 0px 5px white,
  0px 0px 5px white,
  0px 0px 5px white;
}
